<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!-- Componente SIDE BAR USER-->
    <div class="side-bar">
        <div class="side-option s-active"> <a href="#"><img  class="img-side" src="../../../assets/img/PNG/Monito1.png" alt=""></a><h5 class="text-option"><a id="user" class="link-option" href="#"> Mi Cuenta</a></h5></div>
        <hr class="hr-side">
        <div class="side-option"> <a href="#"><img  class="img-side" src="../../../assets/img/PNG/Control.png" alt=""></a><h5 class="text-option"><a id="lobby" class="link-option" href="#">Lobby</a></h5></div>
        <hr class="hr-side">
        <div class="side-option"> <a href="#"><img  class="img-side" src="../../../assets/img/PNG/Ayuda.png" alt=""></a><h5 class="text-option"><a id="help" class="link-option" href="#">Ayuda</a></h5></div>
        <hr class="hr-side">
</div>  
<!-- -->
    <div id="user-info">
        <p>
            {{ user | json }}
        </p>
    </div>


   
</body>
</html>
