
<div class="container-fluid">
    <div class="row">
        <div class="section-usr-info">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <app-sidebar></app-sidebar>
                        <div class="img-user">
                            <img src="../../../../assets/img/usr-page/usr-info/user.png" alt="">
                          
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="user-data">
                            <h4>Saldo actual: <button id="btn-add" class="btn btn-dark btn-sm"> + </button></h4>
                            <div class="input-group mb-1">
                                <span class="input-group-text">$</span>
                            <input type="text" class="form-control"  value="50" disabled>    
                            </div>
                            
                            <hr class="hr-">
                            <h5>Juego Preferido:</h5>
                            <input type="text" class="form-control" value="Fifa 21" disabled>
                            <hr class="hr-">
                            <h5>PSN:</h5>
                            <input type="text" class="form-control" value="Sness989" disabled>
                           
        
                        </div>
                    </div>
                    <div  class="col-md-5">
                        
                        <div id="title-score">
                            <h3>MY SCORE</h3>
                           
                        </div>
                       <div class="section-match">
                                
                            <table style="border: chocolate 1px solid;" class="table table-bordered table-hover table-responsive">
                                <thead style="justify-content: center; text-align: center;">
                                    <tr>
                                        <th>
                                            <p>MATCHES</p>
                                        </th>
                                        <th>
                                            <img class="icon-score" src="../../../../assets/img/usr-page/usr-info/win-icon.png" alt="">
                                            <p>WINS</p>
                                        </th>
                                        <th>
                                            <img class="icon-score" src="../../../../assets/img/usr-page/usr-info/defeat-icon.png" alt="">
                                            <p>LOOSES</p>
                                        </th>
                                    </tr>
                                 
                                </thead>
                                <tbody style="text-align: center;">
                                    <tr>
                                        <td>200</td>
                                        <td>150</td>
                                        <td>50</td>
                                    </tr>
                                </tbody>
                            </table>
                            
                       </div>
                        
                    </div>
                </div>
            </div>
           
           
            
        </div>
    </div>
    <div class="row">
        <div class="section-history-user">
            <div class="container-fluid">
                <div class="row">
                    <div class="title-history">
                        <h1>HISTORIAL DE PARTIDAS</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="search">
                        <input type="text" class="form-control" placeholder="Buscar...">
                    </div>
                    
                       
                </div>
                <div  class="row">
                    <div class="table-history">
                        <table style="text-align: center;" class="table table-light  table-hover table-bordered">
                            <thead>
                                <tr>
                                        <th>USER ID</th>
                                        <th>Juego/Consola</th>
                                        <th>Modalidad</th>
                                        <th>Monto</th>
                                        <th>Hora/Fecha</th>
                                        <th>Resultado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>FeGAMES</td>
                                    <td><p>Madden 22</p><p style="color: blue;">PS4</p></td>
                                    <td><p>Regs</p><p>Modalidad</p></td>
                                    <td><p>$150.00</p><p>Monto</p></td>
                                    <td><p>14:08 CST</p><p>29-07-2021</p></td>
                                    <td><p style="color: darkgreen;">Victoria</p></td>
                                </tr>
                                <tr>
                                    <td>Ghoul564</td>
                                    <td><p>ROCKET LEAGUE</p><p style="color: blue;">PS4</p></td>
                                    <td><p>Regs</p><p>Modalidad</p></td>
                                    <td><p>$100.00</p><p>Monto</p></td>
                                    <td><p>14:08 CST</p><p>29-07-2021</p></td>
                                    <td><p style="color: darkgreen;">Victoria</p></td>
                                </tr>
                                <tr>
                                    <td>SlayerGAMES</td>
                                    <td><p>FIFA 22</p><p style="color: rgb(8, 112, 26);">XBOX</p></td>
                                    <td><p>Regs</p><p>Modalidad</p></td>
                                    <td><p>$300.00</p><p>Monto</p></td>
                                    <td><p>14:08 CST</p><p>29-07-2021</p></td>
                                    <td><p style="color: darkgreen;">Victoria</p></td>
                                </tr>
                                <tr>
                                    <td>ShabbyGAMESS</td>
                                    <td><p>LEAGUE OF LEGENDS</p><p style="color: rgb(82, 82, 82);">PC</p></td>
                                    <td><p>Regs</p><p>Modalidad</p></td>
                                    <td><p>$100.00</p><p>Monto</p></td>
                                    <td><p>14:08 CST</p><p>29-07-2021</p></td>
                                    <td><p style="color: darkgreen;">Victoria</p></td>
                                </tr>
                                <tr>
                                    <td>LunaticGAMES</td>
                                    <td><p>FORNITE</p><p style="color: rgb(197, 31, 31);">SWITCH</p></td>
                                    <td><p>Regs</p><p>Modalidad</p></td>
                                    <td><p>$500.00</p><p>Monto</p></td>
                                    <td><p>14:08 CST</p><p>29-07-2021</p></td>
                                    <td><p style="color: darkgreen;">Victoria</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="pagination">
                        <button class="btn btn-light btn-sm"> < </button>
                        <button class="btn btn-light btn-sm"> 1 </button>
                        <button class="btn btn-light btn-sm"> > </button>
                    </div>
                </div>
            </div>
            
            
        </div>
        
    </div>
</div>




