<h1>¿Qué tienes que hacer?</h1>
<hr>
<div class="content-icon-all">
  <div class="content-icon">
    <img src="../assets/img/LandinPage/body/reg-now.png" alt="">
    <h4>Registrate</h4>
    <p>Crea tu cuenta personalizada en unos pocos segundos</p>
  </div>

  <div class="content-icon">
    <img src="../assets/img/LandinPage/body/VS.jpg" alt="">
    <h4>Busca un oponente</h4>
    <p>Compite contra amigos o busca nuevos oponentes para jugar!
    </p>
  </div>


  <div class="content-icon">
    <img src="../assets/img/LandinPage/body/win_money2.png" alt="">
    <h4>Gana Dinero</h4>
    <p>Se el ultimo en pie y llevate la recompensa</p>
  </div>

</div>
<hr>
  <div class="content-section">
   
          <!--<img id="button_play" [src]="outImgUrl"  alt=""  (mouseover)="changeImg(1)" (mouseout)="changeImg(0)">-->
          <img src="../../../../assets/fonts/a/play-roboto.png" id="button_play2" alt="">
      
  </div>
  
  
