<div class="content-lobby">
    <div class="container-fluid">
        <div class="row">
            <h3>Lobby de Partidas</h3>
        </div>
        <div class="row">
            <div id="btn-new-game">
            <app-modal-new-game></app-modal-new-game>
            </div>
        </div>
        <div class="row">
            <div class="filter-options">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="consola">Consola: </label>
                            <select class="form-control" name="consola">
                                <option value="1">PS4</option>
                                <option value="2">XBOX</option>
                                <option value="3">PC</option>
                                <option value="4">SWICH</option>
                            </select>

                        </div>
                        <div class="col-md-3">
                            <label for="juego">Juegos:</label>
                            <select name="juego" id="" class="form-control">
                                <option value="">FIFA 22</option>
                                <option value="">Madden 22</option>
                                <option value="">League of Legends</option>
                                <option value="">FORNITE</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="juego">Filtrar por:</label>
                            <select name="juego" id="" class="form-control">
                                <option value="">Recientes</option>
                                <option value="">Mas jugados</option>
                                <option value="">Mayor apuesta</option>
                                <option value="">Menor apuesta</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="">Palabra clave:</label>
                            <input style="color: white; background-color: #192228;" type="text" class="form-control" placeholder="Buscar...">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <h3>Partidas Activas:</h3>
                        <div class="table-games">
                            <table class="table">
                                <thead>
                                    <tr>Partidas Activas:</tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="slot-party">
                                                <img class="icon-user" src="../../../../assets/img/usr-page/usr-info/user.png" alt="">
                                                <div id="tabla-p">
                                                    <table class="table table-borderless">  
                                                        <tbody>
                                                            <tr>
                                                                <td>FIFA 22, PS4</td>
                                                                <td> # USERNAME Score</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Tipo de partida</td>
                                                                <td>Apuesta: $350.00</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                   
                                                </div>    
                                                <button style="width: 250px;" class="btn btn-dark btn-sm">Unete</button>
                                            </div>
                                        </td>    
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="slot-party">
                                                <img class="icon-user" src="../../../../assets/img/usr-page/usr-info/user.png" alt="">
                                                <div id="tabla-p">
                                                    <table class="table table-borderless">  
                                                        <tbody>
                                                            <tr>
                                                                <td>FIFA 22, PS4</td>
                                                                <td> # USERNAME Score</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Tipo de partida</td>
                                                                <td>Apuesta: $350.00</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                   
                                                </div>    
                                                <button style="width: 250px;" class="btn btn-dark btn-sm">Unete</button>
                                            </div>
                                        </td>    
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="slot-party">
                                                <img class="icon-user" src="../../../../assets/img/usr-page/usr-info/user.png" alt="">
                                                <div id="tabla-p">
                                                    <table class="table table-borderless">  
                                                        <tbody>
                                                            <tr>
                                                                <td>FIFA 22, PS4</td>
                                                                <td> # USERNAME Score</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Tipo de partida</td>
                                                                <td>Apuesta: $350.00</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                   
                                                </div>    
                                                <button style="width: 250px;" class="btn btn-dark btn-sm">Unete</button>
                                            </div>
                                        </td>    
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="slot-party">
                                                <img class="icon-user" src="../../../../assets/img/usr-page/usr-info/user.png" alt="">
                                                <div id="tabla-p">
                                                    <table class="table table-borderless">  
                                                        <tbody>
                                                            <tr>
                                                                <td>FIFA 22, PS4</td>
                                                                <td> # USERNAME Score</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Tipo de partida</td>
                                                                <td>Apuesta: $350.00</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                   
                                                </div>    
                                                <button style="width: 250px;" class="btn btn-dark btn-sm">Unete</button>
                                            </div>
                                        </td>    
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="slot-party">
                                                <img class="icon-user" src="../../../../assets/img/usr-page/usr-info/user.png" alt="">
                                                <div id="tabla-p">
                                                    <table class="table table-borderless">  
                                                        <tbody>
                                                            <tr>
                                                                <td>FIFA 22, PS4</td>
                                                                <td> # USERNAME Score</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Tipo de partida</td>
                                                                <td>Apuesta: $350.00</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                   
                                                </div>    
                                                <button style="width: 250px;" class="btn btn-dark btn-sm">Unete</button>
                                            </div>
                                        </td>    
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="slot-party">
                                                <img class="icon-user" src="../../../../assets/img/usr-page/usr-info/user.png" alt="">
                                                <div id="tabla-p">
                                                    <table class="table table-borderless">  
                                                        <tbody>
                                                            <tr>
                                                                <td>FIFA 22, PS4</td>
                                                                <td> # USERNAME Score</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Tipo de partida</td>
                                                                <td>Apuesta: $350.00</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                   
                                                </div>    
                                                <button style="width: 250px;" class="btn btn-dark btn-sm">Unete</button>
                                            </div>
                                        </td>    
                                        
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
