


<ng-sidebar-container>
 
    <!-- A sidebar -->
    <ng-sidebar [(opened)]="_opened" position="right">
        <div class="options">
            <div class="card" style="width: 18rem;">
                <ul style="cursor: pointer;" class="list-group list-group-flush">
                  <li class="list-group-item">Mi cuenta</li>
                  <li class="list-group-item">Lobby de Partidas</li>
                  <li class="list-group-item">Configurar perfil</li>
                  <li class="list-group-item">Historial de transacciones</li>
                  <li style="color: red;" class="list-group-item">Cerrar Sesión</li>
                </ul>
              </div>
        </div>
        
    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content>
      <button style="font-size: 15px; background-color: rgb(194, 150, 31); color: white;" class="btn btn-light" (click)="_toggleSidebar()">­­­≡</button>
    </div>

  </ng-sidebar-container>
