@font-face {
  font-family: 'Roboto';
  src: "../../../assets/fonts/Roboto-Bold.ttf";
}

*{
  font-family: 'Roboto' !important;
}


.footer{
        position: relative;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: rgb(204, 204, 204);
        padding-top: 50px;
        padding-left: 0px;
        align-items: center;
        text-align: center;
        font-family: 'Roboto';
        z-index: 4;
}

#logo-footer{
    position: relative;
    width: 300px;
    top: -10px;
}

#social-networks{
    position: relative;
    width: 100%;
    display: flex;
    left: auto;
    margin: auto;
    align-items: center;
}

 p{
    font-size: 12px;
}

.network-icons{
    position: relative;
    width: 60px;
    left: 35%;
    cursor: pointer;
}

