<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h6>SOPORTE: XXX-XXX-XXX</h6>
            </div>
            <div class="col-md-4">
                <img id="logo-footer" src="../../../assets/img/LandinPage/footer/firelogo-footer.png" alt="">
            </div>
            <div class="col-md-4">
                <h6>TERMINOS Y CONDICIONES DE SERVICIO</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h6>CONTACTO: XXX-XXX-XXX</h6>
            </div>
            <div class="col-md-4">
                <div id="social-networks">
                    <img class="network-icons" src="../../../assets/img/LandinPage/footer/facebook.png" alt="">
                    <img class="network-icons" src="../../../assets/img/LandinPage/footer/twiter.png" alt="">
                    <img class="network-icons" src="../../../assets/img/LandinPage/footer/instagram.png" alt="">
                </div>
               
            </div>
            <div class="col-md-4">
                <h6>COOKIES</h6>
            </div>
        </div>
        <div style="position: relative; " class="row">
            <div class="col-md-4">
                <h6>ACERCA DE</h6>
            </div>
            <div class="col-md-4">
                <p>SIGUENOS EN NUESTRAS REDES SOCIALES</p>
            </div>
            <div class="col-md-4">
                <h5>FAQs</h5>
            </div>
        </div>

    </div>
</div>
